body {
    background: linear-gradient(to right, #8360c3, #2ebf91);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

button {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}